<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geekcattle.mapper.website.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.geekcattle.model.website.Category" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="parent_id" property="parentId" jdbcType="VARCHAR"/>
    <result column="icon" property="icon" jdbcType="VARCHAR"/>
    <result column="icon_small" property="iconSmall" jdbcType="VARCHAR"/>
    <result column="icon_big" property="iconBig" jdbcType="VARCHAR"/>
    <result column="create_id" property="createId" jdbcType="VARCHAR"/>
    <result column="update_id" property="createId" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
</mapper>